.footer {
  background: #033058a3;
  color: #e2e8f0;
  padding: 20px 30px;
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-left h3 {
  margin: 0;
  cursor: pointer;
}

.footer-left p {
  font-size: 14px;
  color: #94a3b8;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links span {
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.footer-links span:hover {
  color: #60a5fa;
}

.footer-right {
  font-size: 14px;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
    flex-wrap: wrap;
  }
}
